
<h2>Add a Card</h2>

<form action="/deck/{{deckSlug}}/addCard" method="post">
    <label for="question">Question:</label>
    <input type="text" id="question" name="question">

    <button type="submit">Submit</button>
</form>

