
<h2>Create New Deck</h2>

<form action="/deck/create" method="post">
    <label for="name">Deck Name:</label>
    <input type="text" id="name" name="name">

    <button type="submit">Submit</button>
</form>

