<table>
  <thead>
    <tr>
        <th>Card Question</th>

    </tr>
  </thead>
  <tbody>
    {{#each deck.cards}}
      <tr>
        <td>{{this.question}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


