
{{!-- {{#each decksFound}}
  <div class="card">
    <a href="/decks/{{this.id}}">
      <div class="content">
        <div class="center">
          {{this.name}}
        </div>
      </div>
    </a>
  </div>
{{/each}} --}}

<div class="container">
  {{#each decksFound}}
  <div class="card">
    <div class="content">
      <div class="center">
        {{this.name}}
      </div>
    </div>
  </div>
  {{/each}}
</div>