<table>
  <thead>
    <tr>
        <th>Your Decks</th>

    </tr>
  </thead>
  <tbody>
    {{#each decksFound}}
      <tr>
        <td>{{this.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


