<div class="container">
  {{#each decksFound}}
  <div class="card">
    <div class="content">
      <div class="center">
        {{this.name}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script>
    const decks = document.querySelectorAll(".card");

    decks.forEach(card => {
        card.addEventListener("click", () => {
            const deckName = card.querySelector(".center").textContent.trim();
            const deckURL = "/deck/" + deckName;

            window.location.href = deckURL;
        });
    });
</script>


