<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
			<h1>DIVE DEEPER</h1>
			<h3>build deeper connections with people.</h3>
	</header>
	<nav>
		<ul>
			{{!-- <li><a href="/">All Cards</a></li> --}}
			<li><a href="/deck">All Decks</a></li>
			<li><a href="/deck/create">Create New Deck</a></li>
			{{!-- <li><a href="/cards/add">Add a card!</a></li> --}}
		</ul>
		{{!-- <div class="about-session">Your session's total page visits: {{ count }} </div> --}}
	</nav>

	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>

{{!-- <header>Hello World</header> --}}
